body, input, button, a, label{
   cursor: url(../../style/cursor.png), auto!important; 
}
/* ---------BUTTON------ */
.btn {
   /* width: 100%; */
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 2px 0px rgba(181, 69, 1, 0.65) inset, 0px 0px 4px 0px rgba(181, 69, 1, 0.65) inset, 0px 4px 4px 0px rgba(255, 215, 191, 0.25) inset;
   border-radius: 24px;
   padding: 10px 40px;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   transition: all 0.3s ease-in-out 0s;

}

.btn--black {
   background-color: #000000;
   color: #F75E01;
}

.btn--orange {
   display: inline-block;

   background-color: rgba(247, 94, 1, 1);
   color: #000000;

   
}

@media (min-width: 991.98px) {
   .btn:hover {
      opacity: 0.9;
      transform: scale(1.1);

   }
}

.btn:active {
   transform: scale(0.97);
   opacity: 0.9;
   transition: all 0.3s ease-in-out 0s;
}

/* =========================================================== */

/* ---------INPUT FIELD(login block, admin block)-------------- */
.input-block {
   display: flex;
   flex-direction: column;
   gap: 8px;

   max-width: 500px;
}

.input-title {
   color: #fff;
   font-weight: 700;
   line-height: 17px;
   letter-spacing: 0.04em;
}

.input-info {
   width: 300px;
   max-width: 100%;
   padding: 10px;
   background: #FFFFFF;
   border-radius: 24px;
   outline: none;
   transition: box-shadow 0.3s ease 0s;
}

.input-info:focus {
   box-shadow: 0px 0px 8px 2px rgb(8, 8, 8);

}



.name-screen {
   font-weight: 700;
   font-size: 64px;
   line-height: 77px;

   color: #FFFFFF;
}

.timer-input {
   /* font-weight: 700;
   font-size: 64px;
   line-height: 77px;
   color: #000000; */
}