.timer {
   font-family: 'Inter', sans-serif;
   background: #000000 11%;
   height: 100vh;
   padding-top: 90px;
   padding-bottom: 50px;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
}

/* КОНТЕЙНЕР */
.timer__container {
   padding: 25px 15px 30px;
   max-width: 1100px;
   width: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 52px;
   z-index: 3;
}
/* ==================================== */

/* БЛОК С ЛОГО */
.timer__header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-timer__logo {
   display: block;
   width: 350px;
   height: 350px;
   background: url(../style/newlogo350.png) no-repeat;
   background-size: contain;
}

.header-timer__final {
   text-align: center;
   color: #F85E01;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.2;
   max-width: 242px;
   padding: 10px 32px;
   border-radius: 24px;
}

/* ==================================== */

/* БЛОК С ИМЕНЕМ ИНПУТОМ И КНОПКОЙ */
.timer__content {
   display: flex;
   justify-content: space-between;
}

      /* КОЛОНКА */
.content__column {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   width: 400px;
   flex: 0 1 400px;
}
      /* ИМЯ */
.content__column-name {
   margin-bottom: 52px;
   word-break:break-all ;
}
      /* БЛОК С ИНПУТОМ */
.content__column__time{
   margin-bottom: 36px;
   font-weight: 700;
   font-size: 64px;
   line-height: 77px;
   padding: 32px 52px;
   color: #000000;
   background: #FFFFFF;
   box-shadow: inset 0px -4px 8px rgba(85, 85, 85, 0.25), inset 0px 6px 8px rgba(85, 85, 85, 0.25);
   border-radius: 48px;
   width: 287px;
   text-align: center;
}
   /* САМ ИНПУТ */
.content__column-input {
   outline: none;
}

.content__column-stop {
   color: #F75E01 !important;

}

.content__column-go.btn.btn--orange{
   max-width: 287px;
   box-shadow: 0px -4px 2px 0px rgba(181, 69, 1, 0.65) inset, 0px 0px 4px 0px rgba(181, 69, 1, 0.65) inset, 0px 4px 4px 0px rgba(255, 215, 191, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.timer__btn.btn.btn--orange {
   box-shadow: 0px -4px 2px 0px rgba(181, 69, 1, 0.65) inset, 0px 0px 4px 0px rgba(181, 69, 1, 0.65) inset, 0px 4px 4px 0px rgba(255, 215, 191, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content__column-stop.btn.btn--black{
   max-width: 287px;
   box-shadow: 0px -4px 2px 0px #210C00A6 inset, 0px 0px 4px 0px #311200A6 inset, 0px 4px 4px 0px #B1B1B140 inset, 0px 4px 4px 0px #00000040;
}

.btt{
   align-self: center;
   max-width: 242px;
   width: 100%;
}

 @media (max-height: 850px)  {
      .timer{
         overflow: scroll;
      }
  }