.admin-top{
   /* background:  linear-gradient(167.95deg, #000000 11%, #823303 36.64%, #D24F00 58.3%, #F85E01 85.83%); */
   background: linear-gradient(160.42deg, #000000 26.6%, #200D01 34.86%, #411A02 43.2%, #823303 55.64%, #D24F00 68.9%, #F85E01 82.8%);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
}

.admin-top__container{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: 3;
   
}


.title{
   font-weight: 700;
   font-size: 36px;
   line-height: 44px;
   color: #FFFFFF;
   margin-top: 0;
   text-align: center;
   margin-bottom: 52px;
}

.admin-top__columns{
   display: flex;
   column-gap: 90px;
   margin-bottom: 32px;
}

.top-column__block:not(:last-child){
   margin-bottom: 16px;
}

.top-column__input::placeholder{
   display: none;
}

.admin-top__btn {
   max-width:300px ;
}

.admin-top__logo{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 91px;
   height: 91px;
   background: url(../style/91logo.png) no-repeat;
   background-size: cover;
}


@media (max-width: 1130px) { 
   .admin-top__columns{
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
   }
 }

 @media (max-width: 1024px){
   .admin-top{
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
   }
 }

  @media (max-height: 736px)  { 
   .admin-top{
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
   }
  }