.table {
  font-family: 'Inter', sans-serif;
  background: #000000;
  padding-top: 45px;
  position: relative;
  overflow: hidden;
}

.table.bgg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  /* bottom: 5%; */
  /* left: 30%; */
  background: url(../style/wave.png) no-repeat;
  background-size: 100%;
  background-position: center;
  pointer-events: none;
}

.table__judge {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(160.42deg, #000000 26.6%, #200D01 34.86%, #411A02 43.2%, #823303 55.64%, #D24F00 68.9%, #F85E01 82.8%);
  padding-top: 45px;
  position: relative;
  overflow: hidden;
}


.table__container {
  margin: 0 auto;
  max-width: 1067px;
  position: relative;
}

.table__header {
  text-align: center;
}

.table__title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height */
  color: #FFFFFF;
}

/* --------Весь блок---------- */
.main-table {
  display: grid;
  grid-template-columns: 193px 81px 193px 81px 193px 81px 193px;
  /* column-gap: 24px; */
}

.table__main.main-table {
  max-width: 520px;
}

/* ------КОЛОНКА----- */
.column {
  max-width: 192px;
}

.column--first {
  max-width: 192px;
}

.block-column1 {
  margin-bottom: 20px;
}

.block-column--2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  height: 100%;
  padding: 51px 0 90px;
}

.mob{
  padding-top: 0px;
}

.block-column--3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-bottom: 29px;
}

.block-column--final {
  padding-bottom: 19px;
}

/* ----------соеденения---------- */
.column--connect {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  row-gap: 20px;
  margin-top: -30px;
}

.column--connect2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 0px;
}

.column__line.line--midle1 {
  margin-bottom: 30px;
  background: url(../style/line2.png)0 0 no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
}
.column__line {
  background: url(../style/line1.png)0 0 no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 132px;
}

.line--midle {
  background: url(../style/line2.png)0 0 no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
}

.line--big {
  background: url(../style/line3.png) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 548px;
}

/* --------FINAL---------- */

/* ============Внутри 2 компонента========= */

/* ============ITEM========= */
.block-column__item {
  max-width: 193px;
  display: flex;
  flex-direction: column;
  height: 110px;
}

.block-column--final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* ============================ITEM================================= */
.battle-block__top {
  width: 100%;
  background-color: #FFFFFF;
  padding: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 2;
}

.top-block {
  width: 100%;
  background-color: rgba(255, 213, 106, 1);
  padding: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 2;
}

.top-block__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line__name {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
  max-width: 75%;
  word-wrap: break-word;
}

.top-line__count {
  display: flex;
  align-items: center;
  row-gap: 10px;
  align-self: flex-start;
}

.top-line__number {
  font-weight: 700;
  font-size: 16px;
  width: 26px;
  padding: 3px;
  /* -moz-appearance: textfield; */
  text-align: center;
  background-color: inherit;
  outline: none;
}

.top-line__number::-webkit-inner-spin-button {
  display: none;
}

.top-line__number:focus {
  box-shadow: 0px 0px 0px 1px #000000;
  border-radius: 2px;
  background-color: rgba(114, 114, 114, 1);
}

.top-line__img {
  background: url(../style/pencil.png) 0 0 no-repeat;
  background-size: contain;
  width: 17px;
  height: 23px;
  transition: transform 0.3s ease-in-out 0s;
}
.top-line__img:hover{
  transform:scale(1.2);
}
.top-line__img:active{
  transform:scale(1);
}

.battle-block__btn {
  width: 100%;
  height: 60px;
  padding: 25px 0 4px 0;
  border-radius: 0px 0px 24px 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  transform: translateY(-23px);
  transition: all 0.3s ease 0s;
}

.battle-block__btn:hover {
  transform: translateY(-18px);
  font-size: 18px;
  padding-bottom: 10px;
}

.battle-block__btn:active {
  transform: translateY(-23px);
}

/* ===========лишний отступ был============ */
.small-container {
  padding-right: 0;
}

/* =================MODAL-WINDOW===================== */
.modal {
  /* height: 100vh; */
  display: flex;
  /* transform: translateX(25%); */
  /* justify-content: center; */
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.window {
  padding-top: 30px;
  padding-bottom: 38px;
  flex: 1 0 822px;
  background-color: #000000;
  border-radius: 48px;
}

.window__header {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.header-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
}

.header-window__set {
  padding: 10px 32px;
  background: #F85E01;
  border-radius: 24px;
}

.window__columns {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  column-gap: 10px;

}

.column-wind__left {
  flex: 0 1 250px;
}

.column-wind__nick {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 36px;
  text-align: center;
}

.column-wind__input {
  max-width: 183px;
  margin: 0 auto;
}

.column-wind__input input {
  padding: 20px 40px 20px 40px;
  border-radius: 32px;
}

.column-wind__input input:focus {
  outline: none;
  box-shadow: 0px 0px 15px 3px #FD6001;
  border-radius: 32px;

}

.column-wind__right {
  flex: 0 1 250px;
}

.window__btn {
  margin: 0 auto;
  width: 300px;
}

.window__btn div:focus {
  outline: 2px solid #bd0404;
}

.btn {
  padding: 10px 121px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.btn--orange {
  background: #F75E01;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 215, 191, 0.25), inset 0px 0px 4px rgba(181, 69, 1, 0.65), inset 0px -4px 2px rgba(181, 69, 1, 0.65);
  border-radius: 24px;
  color: #000000;
  text-transform: uppercase;
}

/* ===============SWIPER========== */
.swiper-wrapper{
  max-width: 320px;
  margin: 0 auto;
}

.column__block {
  width: 193px;
  margin: 0 auto;
  height: 245px;
}

.column__block.block-column.block-column--2 {
  height: 1000px;
}

.column__block.block-column.block-column--3 {
  height: 1000px;
  row-gap: 230px;
  justify-content: space-evenly;
}

.column__line.line--big {
  height: 510px;
}

.column__block.block-column.block-column--final {
  height: 95%;
}

.text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.connect-mob--first {
  padding-top: 76px;
  row-gap: 138px;
  transform: translateX(32px);
}

.connect-mob--second{
  padding-top: 129px;
  row-gap: 275px;
  transform: translateX(31px);
}

@media (max-width: 640px) {
  .swiper-wrapper {
    margin-left: 60px;
  }
  .block-column__item {
    height: 100px;
  }

  .column__block {
    /* width: 179px; */
    height: 235px;
    padding-bottom: 80px;
  }

  .connect-mob--first {
    justify-content: space-around;
    margin-top: 0;
    transform: translateX(48px);
    row-gap: 120px;
  }

  .column--first {
    row-gap: 25px;
  }

  .column__line.line--mob {
    height: 115px;
  }

  .column__block.block-column.block-column--2 {
    height: 900px;
  }

  .connect-mob--second {
    margin-top: 0;
    row-gap: 240px;
    transform: translateX(48px);
  }

  .column__line.line--midle.line--mob {
    height: 240px;
  }

  .column__block.block-column.block-column--3.column-mob--third {
    padding-top: 5px;
    row-gap: 220px;
  }

  .column--connect.connect-mob--third {
    margin-top: 0;
    padding-top: 250px;
    transform: translateX(32px);
  }

  .column__line.line--big.line--mob {
    height: 480px;
  }

  .table__main.main-table {
    margin-left: -20px;
  }

  .main-table__column.column.column-mob--final{
    transform: translateX(-10%) translateY(410px); 
  }
}

.column-mob--second {
  row-gap: 160px;
}

.column-mob--third{
  padding-top: 189px;
  row-gap: 410px;
  transform: translateX(-5px);
}

.connect-mob--third {
  padding-top: 265px;
  transform: translateX(28px);
}

.column-mob--final{
  transform: translateX(-20%) translateY(460px); 
}

.line--mob{
  background-size: contain;
}