<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/common.css">
  <title>Lesson </title>
</head>

<body>


  <div class="battle">

    <div class="battle__header header-battle ">
      <div class="header-battle__container">
        <div class="header-battle__logo"></div>
        <div class="header-battle__info">
          <div class="header-battle__left header-left">
            <div class="header-left__round header-title">Round</div>
            <div class="header-left__nomination header-bottom">Hip-Hop Pro 1/8 final</div>
          </div>
          <div class="header-battle__right header-right">
            <div class="header-right__judge header-title">judge</div>
            <div class="header-right__nomination header-bottom">Tolu</div>
          </div>
        </div>
        <div class="header-battle__number-battle">Battle #1</div>
        <div class="header-battle__participant participant">
          <div class="participant__name">Badabooom Chikiboom </div>
          <div class="participant__name">Timofey</div>
        </div>
      </div>


      <div class="battle__main main-battle">
        <div class="main-battle__container">
          <div class="main-battle__musicality battle-top">Музикальність</div>
          <div class="main-battle__slider slider">
            <div class="slider__box slider--left">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1 reverse"></div>
                <div class="scale__line line--2 reverse"></div>
                <div class="scale__line line--3 reverse"></div>
                <div class="scale__line line--4 reverse"></div>
                <div class="scale__line line--5 reverse"></div>
              </div>
              <div class="thumb"></div>
            </div>
            <div class="slider__box slider--right">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1"></div>
                <div class="scale__line line--2"></div>
                <div class="scale__line line--3"></div>
                <div class="scale__line line--4"></div>
                <div class="scale__line line--5"></div>
              </div>
              <div class="thumb"></div>
            </div>
          </div>


          <div class="main-battle__technique battle-top">Техніка</div>
          <div class="main-battle__slider slider">
            <div class="slider__box slider--left">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1 reverse"></div>
                <div class="scale__line line--2 reverse"></div>
                <div class="scale__line line--3 reverse"></div>
                <div class="scale__line line--4 reverse"></div>
                <div class="scale__line line--5 reverse"></div>
              </div>
              <div class="thumb"></div>
            </div>
            <div class="slider__box slider--right">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1"></div>
                <div class="scale__line line--2"></div>
                <div class="scale__line line--3"></div>
                <div class="scale__line line--4"></div>
                <div class="scale__line line--5"></div>
              </div>
              <div class="thumb"></div>
            </div>
          </div>


          <div class="main-battle__originality battle-top">Оригінальність</div>
          <div class="main-battle__slider slider">
            <div class="slider__box slider--left">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1 reverse"></div>
                <div class="scale__line line--2 reverse"></div>
                <div class="scale__line line--3 reverse"></div>
                <div class="scale__line line--4 reverse"></div>
                <div class="scale__line line--5 reverse"></div>
              </div>
              <div class="thumb"></div>
            </div>
            <div class="slider__box slider--right">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1"></div>
                <div class="scale__line line--2"></div>
                <div class="scale__line line--3"></div>
                <div class="scale__line line--4"></div>
                <div class="scale__line line--5"></div>
              </div>
              <div class="thumb"></div>
            </div>
          </div>


          <div class="main-battle__filling battle-top">Подача</div>
          <div class="main-battle__slider slider">
            <div class="slider__box slider--left">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1 reverse"></div>
                <div class="scale__line line--2 reverse"></div>
                <div class="scale__line line--3 reverse"></div>
                <div class="scale__line line--4 reverse"></div>
                <div class="scale__line line--5 reverse"></div>
              </div>
              <div class="thumb"></div>
            </div>
            <div class="slider__box slider--right">
              <input class="input" type="range" min="0" max="5" step="1" value="0">
              <div class="scale">
                <div class="scale__line line--1"></div>
                <div class="scale__line line--2"></div>
                <div class="scale__line line--3"></div>
                <div class="scale__line line--4"></div>
                <div class="scale__line line--5"></div>
              </div>
              <div class="thumb"></div>
            </div>
          </div>

          <div class=" main-battle__btn btn btn--orange">ok</div>
        </div>
      </div>

    </div>
  </div>


 



</body>
<script src="/js/main.js"></script>

</html>